body {
  text-align: center;
  margin: 0 ;
}

footer {
  font-family: 'Londrina Solid';
  color: black;
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-family: 'Londrina Solid';
}

h5 {
  display: inline-block;
  font-family: 'Londrina Solid';
}


.divider {
  border-top: 10px solid #01a0c4;
  opacity: 0.9;
  margin-top: 4%;
  margin-bottom: 4%;
}

.text {
  font-family: 'Londrina Solid';
  color: black;
}

.welcome-message {
  font: #fff;
}

.title {
  font-family: 'Londrina Solid', bold;
  color: black;
  line-height: 1em;
}

.container {
  /* position: relative; */
  font-family: 'Londrina Solid';
  color: black;
}

.navbar {
  padding-right: 5%;
}

.card-text {
  font-family: 'Londrina Solid';
  font-size: 1.3em;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.jumbotron {
  background-image: url("../css/images/background.png");
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
}

.faq {
  font-family: 'Londrina Solid';
  color: black;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
}

.card:hover {
  border-color: #01a0c4;
  border-width: medium;
}

.footer-icon {
  color: black;
  letter-spacing: 1.5rem;
}

.footer-icon:hover{
  color: white;
}

.link {
  display: inline-block;
}



#footer {
  background-color: #01a0c4;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 4%;
  width: 100%;
  justify-content: center;

}
