/* Fonts */
@font-face {
    font-family: Anton-Regular;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}

#deals {
    color: #8f8389;
}


/* Cart Page */
.background{
    background-color: #F2F2F2;
}



.allProductBg{
    background-attachment: fixed;
    background-position: center -350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/all_products.png"););
    height: 30em;
}

.centerWhite{
    color: white;
    text-align: center;
}

.productImage {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: -30px;
    padding-right: -30px;
}

.productName {
    margin-bottom: 0;
    margin-top: 0;
}

.productPrice{
    font-family: Anton-Regular, serif;
    margin-bottom: 0;
    margin-top: 0;
}


div.product {
    border: 5px solid white;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 0 0;
    background-color: cadetblue;
}

div.productDetails {
    width: 15.5em;
}

.all {
    display: flex;
}

a.filter{
    color:black;
    text-decoration: none;
}

a.filter:hover{
    color:cadetblue;
    text-decoration: none;
}

a.current {
    color:cadetblue;
    text-decoration: none;
    font-weight: bold;
}

a.current:hover {
    color:cadetblue;
    text-decoration: none;
    font-weight: bold;
}

div.filter {
    background-color:rgb(210, 229, 233);
    border-right: 1px solid rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding-right: 0;
    margin-right: 0;
    width: 15em;
    display: inline-block;
    margin-left: 0;
    padding-left: 4em;
}

.whiteBorder{
    position: relative;
    padding: 1em;
    border: 5px white solid;
    width: 27em;
    font-family: Anton-Regular, serif; /* CHANGE FONT TO MATCH OTHERS*/
}

.card:hover {
    border: 5px #0E69BE solid;
    padding: 0 0;
}