body{
    text-align: center;
}

.ignore-css{all:unset;}

/* Nav bar */
.navbar-custom{
    background-color:rgb(210, 229, 233);
    opacity: 0.85;
}

.nav-link{
    font-family: 'Londrina Solid';
    font-size: large;
}
.nav-link:hover{
    color:#0c9769;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:#0c9769;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: #0c9769;

}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

/* HomePage */
footer {
    font-family: 'Londrina Solid';
    color: black;
    display: inline-flex;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    font-family: 'Londrina Solid';
}

h5 {
    display: inline-block;
    font-family: 'Londrina Solid';
}


.divider {
    border-top: 10px solid #01a0c4;
    opacity: 0.9;
    margin-top: 4%;
    margin-bottom: 4%;
}

.text {
    font-family: 'Londrina Solid';
    color: black;
}

.welcome-message {
    color: #fff;
}

.title {
    font-family: 'Londrina Solid', bold;
    color: black;
    line-height: 1em;
}

.container {
    /* position: relative; */
    font-family: 'Londrina Solid';
    color: black;
}



.homepage-header{
    padding: 1%;


}

.icon-label:hover{
    text-underline: red;
}
@media(max-width: 768px){
    .icon-label{
        display: none;
    }
}

.card-text {
    font-family: 'Londrina Solid';
    font-size: 1.3em;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.jumbotron {
    background-image: url("../images/margined-background.png");
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
}

.faq {
    font-family: 'Londrina Solid';
    color: black;
    margin-top: 2%;
    margin-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.card:hover {
    border-color: #01a0c4;
    border-width: medium;
}

.footer-icon {
    color: black;
    letter-spacing: 1.5rem;
}

.footer-icon:hover{
    color: white;
}

.link {
    display: inline-block;
}



#footer {
    background-color: #01a0c4;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    width: 100%;
    justify-content: center;

}


/* LOGIN/SIGNUP */
.main-body{
    font-family: 'Londrina Solid';
    font-size: 16px;
    background-image:url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:#666;
}
.signin-container{
    width: 100%;
    height: 95vh;
    padding-bottom: 130px;
}
.signup-container{
    width: 100%;
    height: 95vh;
    padding-bottom: 50px;
}
.recovery-container{
    width: 100%;
    height: 100vh;
    padding-bottom: 130px;
}
.sign-form{
    margin: auto;
    width: 500px;
    padding: 15px 40px 50px;
    max-width: 100%;
    background-color: rgb(210, 229, 233);
    opacity: 0.85;
    border-radius: 10px;
}
.sign-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.sign-form a{
    text-decoration: none;
    color:#666;
}
.sign-form a:hover{
    color:#0c9769;
}
.forgot-link{
    font-size: 13px;
}
.form-control:focus{
    border-color:#0c9769;
    box-shadow: 0 0 0 0.2rem #0c9769;
}
.btn{
    background-color: #1f568a;
    border-color: #1f568a;
}
.btn:hover{
    background-color: #0c9769;
    border-color: #0c9769;
}
.navbar-custom{
    background-color:rgb(210, 229, 233);
    opacity: 0.85;
}
.nav-link{
    color:#0c9769;
}





/* Cart Page */
.rounded-5 {
    border-radius: 1rem!important;
}

.rounded-3 {
    border-radius: .75rem!important;
}

.border-thicc{
    border:3px solid #dee2e6!important;
}

.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
}

.width-75{
    width: 75%;
}

.mb-100{
    margin-bottom: 100px;
}

.continue-shopping{
    display: inline-flex !important;
    cursor:pointer
}

.number-selector{
    width: 4ch;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]:focus {
    outline:none;
}


.line-break{
    border-bottom: 2px solid #e2e2e2;
    border-radius: 1rem!important;
}

.text-5{
    font-size: 1.2rem !important;
}

.text-bold{
    font-weight: bold;
}

.text-dark{
    color:#333;
}

.align-self-center{
    align-self: center;
}

.cart-img{
    border-radius: 1rem!important;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.align-right{
    margin-left: auto;
    margin-right: 10px;
}

.text-align-right{
    text-align: right;
}

.icon-trash{
    cursor: pointer;

}

.minus-icon, .plus-icon{
    cursor: pointer;
}

.icon-trash:hover{
    color:red;
}
.varela {
    font-family: 'Varela Round', sans-serif !important;
}



